<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Benedetta Stefani</title>
		<meta name="description" content="Benedetta Stefani Portfolio">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
@font-face {
    font-family: timesCond;
    src: url("font/Times New Roman MT Condensed Regular.otf");
  }
  
body,html{
    font-family: timesCond;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;    
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

}
</style>
